:root {
    --label-light-secondary: rgba(60, 60, 67, 0.6);
    --light-indigo: rgba(116, 89, 217, 1);
    --primary-crypto: rgba(47, 128, 237, 1);
    --secondary: rgba(39, 76, 119, 1);
    --boxes: rgba(248, 248, 251, 1);
    --secondary-crypto: rgba(51, 51, 51, 1);
    --internal-tool-regular-font-family: "Poppins", Helvetica;
    --internal-tool-regular-font-weight: 400;
    --internal-tool-regular-font-size: 15px;
    --internal-tool-regular-letter-spacing: 0.15px;
    --internal-tool-regular-line-height: normal;
    --internal-tool-regular-font-style: normal;
    --internal-tool-subheading-font-family: "Poppins", Helvetica;
    --internal-tool-subheading-font-weight: 500;
    --internal-tool-subheading-font-size: 18px;
    --internal-tool-subheading-letter-spacing: 0.18px;
    --internal-tool-subheading-line-height: normal;
    --internal-tool-subheading-font-style: normal;
    --internal-tool-nav-font-family: "Poppins", Helvetica;
    --internal-tool-nav-font-weight: 400;
    --internal-tool-nav-font-size: 13px;
    --internal-tool-nav-letter-spacing: 0.13px;
    --internal-tool-nav-line-height: normal;
    --internal-tool-nav-font-style: normal;
    --NATID: 0px 1px 61px 1px rgba(0, 0, 0, 0.25);
  }
  

.RETO-COMITE {
    background-color: #fafbff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .RETO-COMITE .div {
    background-color: #fafbff;
    overflow: hidden;
    width: 1440px;
    height: 1198px;
    position: relative;
  }
  
  .RETO-COMITE .overlap {
    position: absolute;
    width: 306px;
    height: 1198px;
    top: 0;
    left: 0;
  }
  
  .RETO-COMITE .chevron-right {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 146px;
    left: 254px;
  }
  
  .RETO-COMITE .barra-de-navegacin {
    position: absolute;
    width: 306px;
    height: 1198px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 10px 60px #e1ecf880;
  }
  
  .RETO-COMITE .overlap-group {
    position: absolute;
    width: 250px;
    height: 46px;
    top: 614px;
    left: 33px;
    background-color: #5932ea;
    border-radius: 8px;
  }
  
  .RETO-COMITE .list-menu {
    position: relative;
    width: 195px;
    height: 21px;
    top: 12px;
    left: 47px;
  }
  
  .RETO-COMITE .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .RETO-COMITE .img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 177px;
  }
  
  .RETO-COMITE .list-menu-2 {
    position: absolute;
    width: 231px;
    height: 24px;
    top: 139px;
    left: 39px;
  }
  
  .RETO-COMITE .img-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
  .RETO-COMITE .text-wrapper-2 {
    position: absolute;
    top: 1px;
    left: 38px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #9197b3;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .RETO-COMITE .chevron-right-2 {
    top: 2px;
    left: 213px;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  
  .RETO-COMITE .list-menu-3 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 203px;
    left: 39px;
  }
  
  .RETO-COMITE .text-wrapper-3 {
    position: absolute;
    top: 2px;
    left: 38px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #9197b3;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .RETO-COMITE .chevron-right-3 {
    top: 4px;
    left: 215px;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  
  .RETO-COMITE .list-menu-4 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 267px;
    left: 39px;
  }
  
  .RETO-COMITE .overlap-2 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 331px;
    left: 39px;
  }
  
  .RETO-COMITE .list-menu-5 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
  .RETO-COMITE .list-menu-6 {
    position: absolute;
    width: 231px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
  .RETO-COMITE .list-menu-7 {
    position: absolute;
    width: 195px;
    height: 21px;
    top: 395px;
    left: 77px;
  }
  
  .RETO-COMITE .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #9197b3;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .RETO-COMITE .list-menu-8 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 452px;
    left: 39px;
  }
  
  .RETO-COMITE .list-menu-9 {
    position: absolute;
    width: 195px;
    height: 21px;
    top: 511px;
    left: 80px;
  }
  
  .RETO-COMITE .list-menu-10 {
    position: absolute;
    width: 236px;
    height: 24px;
    top: 566px;
    left: 39px;
  }
  
  .RETO-COMITE .text-wrapper-5 {
    position: absolute;
    top: 3px;
    left: 41px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #9197b3;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .RETO-COMITE .chevron-right-4 {
    top: 5px;
    left: 218px;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  
  .RETO-COMITE .element-icon {
    top: 511px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 39px;
  }
  
  .RETO-COMITE .overlap-group-2 {
    position: relative;
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
  }
  
  .RETO-COMITE .path {
    position: absolute;
    width: 18px;
    height: 9px;
    top: 0;
    left: 0;
  }
  
  .RETO-COMITE .path-2 {
    top: 7px;
    position: absolute;
    width: 18px;
    height: 7px;
    left: 0;
  }
  
  .RETO-COMITE .path-3 {
    top: 11px;
    position: absolute;
    width: 18px;
    height: 7px;
    left: 0;
  }
  
  .RETO-COMITE .imagix {
    top: 11px;
    left: 32px;
    position: absolute;
    width: 226px;
    height: 100px;
    object-fit: cover;
  }
  
  .RETO-COMITE .element-icon-stock {
    top: 394px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 39px;
  }
  
  .RETO-COMITE .overlap-3 {
    position: absolute;
    width: 250px;
    height: 80px;
    top: 925px;
    left: 28px;
    background-image: url(./img/union.svg);
    background-size: 100% 100%;
  }
  
  .RETO-COMITE .label {
    position: absolute;
    top: 28px;
    left: 101px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--label-light-secondary);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .RETO-COMITE .label-2 {
    position: absolute;
    top: 30px;
    left: 195px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--light-indigo);
    font-size: 13px;
    text-align: right;
    letter-spacing: 0;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .RETO-COMITE .element {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 24px;
    object-fit: cover;
  }
  
  .RETO-COMITE .frame {
    display: flex;
    width: 275px;
    align-items: center;
    gap: 10px;
    padding: 10px 165px 10px 10px;
    position: absolute;
    top: 1130px;
    left: 24px;
    border-radius: 8px;
  }
  
  .RETO-COMITE .img-3 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .RETO-COMITE .text-wrapper-6 {
    position: relative;
    width: fit-content;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #84828a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .RETO-COMITE .group-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 624px;
    left: 42px;
  }
  
  .RETO-COMITE .overlap-group-3 {
    position: absolute;
    width: 16px;
    height: 8px;
    top: 4px;
    left: 4px;
  }
  
  .RETO-COMITE .ellipse {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    left: 4px;
    border-radius: 4px;
    border: 2px solid;
    border-color: #ffffff;
  }
  
  .RETO-COMITE .ellipse-2 {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 2px;
    left: 10px;
  }
  
  .RETO-COMITE .ellipse-3 {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 2px;
    left: 0;
  }
  
  .RETO-COMITE .overlap-4 {
    position: absolute;
    width: 20px;
    height: 7px;
    top: 13px;
    left: 2px;
  }
  
  .RETO-COMITE .subtract {
    position: absolute;
    width: 9px;
    height: 6px;
    top: 0;
    left: 11px;
  }
  
  .RETO-COMITE .subtract-2 {
    position: absolute;
    width: 9px;
    height: 6px;
    top: 0;
    left: 0;
  }
  
  .RETO-COMITE .rectangle {
    position: absolute;
    width: 12px;
    height: 7px;
    top: 0;
    left: 4px;
  }
  
  .RETO-COMITE .overlap-5 {
    position: absolute;
    width: 1061px;
    height: 48px;
    top: 29px;
    left: 344px;
  }
  
  .RETO-COMITE .frame-2 {
    display: flex;
    width: 1061px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .RETO-COMITE .hola-erick-promotor {
    position: relative;
    width: 502px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: transparent;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .RETO-COMITE .span {
    color: #000000;
  }
  
  .RETO-COMITE .text-wrapper-7 {
    color: #fe0404;
  }
  
  .RETO-COMITE .frame-3 {
    display: flex;
    width: 480px;
    align-items: center;
    gap: 32px;
    position: relative;
  }
  
  .RETO-COMITE .group {
    position: relative;
    width: 346px;
    height: 40px;
  }
  
  .RETO-COMITE .overlap-group-4 {
    position: relative;
    width: 344px;
    height: 40px;
    background-color: #fdfdfd;
    border-radius: 8px;
  }
  
  .RETO-COMITE .text-wrapper-8 {
    position: absolute;
    top: 12px;
    left: 46px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #a39f9f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .RETO-COMITE .search-normal {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 13px;
  }
  
  .RETO-COMITE .ellipse-4 {
    position: relative;
    width: 48px;
    height: 48px;
  }
  
  .RETO-COMITE .imagix-2 {
    top: 7051px;
    left: -23611px;
    position: absolute;
    width: 226px;
    height: 100px;
    object-fit: cover;
  }
  
  .RETO-COMITE .overlap-6 {
    position: absolute;
    width: 1068px;
    height: 999px;
    top: 137px;
    left: 340px;
    background-image: url(./img/rectangle-12.svg);
    background-size: 100% 100%;
  }
  
  .RETO-COMITE .overlap-7 {
    position: absolute;
    width: 319px;
    height: 41px;
    top: 930px;
    left: 299px;
  }
  
  .RETO-COMITE .image {
    position: absolute;
    width: 192px;
    height: 32px;
    top: 1px;
    left: 127px;
    object-fit: cover;
  }
  
  .RETO-COMITE .text-wrapper-9 {
    position: absolute;
    width: 147px;
    top: 0;
    left: 0;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-crypto);
    font-size: 25px;
    letter-spacing: 0.25px;
    line-height: normal;
  }
  
  .RETO-COMITE .component {
    position: absolute;
    width: 81px;
    height: 23px;
    top: 24px;
    left: 35px;
  }
  
  .RETO-COMITE .vector {
    position: absolute;
    width: 18px;
    height: 12px;
    top: 6px;
    left: 0;
  }
  
  .RETO-COMITE .text-wrapper-10 {
    position: absolute;
    top: -1px;
    left: 33px;
    transform: rotate(-0.20deg);
    font-family: var(--internal-tool-regular-font-family);
    font-weight: var(--internal-tool-regular-font-weight);
    color: #000000;
    font-size: var(--internal-tool-regular-font-size);
    letter-spacing: var(--internal-tool-regular-letter-spacing);
    line-height: var(--internal-tool-regular-line-height);
    font-style: var(--internal-tool-regular-font-style);
  }
  
  .RETO-COMITE .frame-4 {
    position: absolute;
    width: 514px;
    height: 325px;
    top: 128px;
    left: 28px;
  }
  
  .RETO-COMITE .image-title-wrapper {
    position: absolute;
    width: 311px;
    height: 377px;
    top: -22px;
    left: -26px;
    background-image: url(./img/rectangle-11-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .RETO-COMITE .image-title {
    display: flex;
    flex-direction: column;
    width: 231px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative;
    top: 282px;
    left: 38px;
    background-color: #ffffffcc;
    border-radius: 170px;
    overflow: hidden;
    transform: rotate(0.55deg);
    box-shadow: var(--NATID);
    backdrop-filter: blur(20px) brightness(100%);
    -webkit-backdrop-filter: blur(20px) brightness(100%);
  }
  
  .RETO-COMITE .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 30px;
  }
  
  .RETO-COMITE .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: normal;
  }
  
  .RETO-COMITE .frame-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 2px;
    left: 294px;
  }
  
  .RETO-COMITE .frame-6 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .RETO-COMITE .name {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    opacity: 0.5;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: normal;
  }
  
  .RETO-COMITE .tomiwa-oyeledu {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .RETO-COMITE .text-wrapper-12 {
    top: 62px;
    left: 25px;
    position: absolute;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-crypto);
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .RETO-COMITE .text-wrapper-13 {
    top: 47px;
    left: 648px;
    position: absolute;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-crypto);
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .RETO-COMITE .EL-RETO-ES-SIN {
    position: absolute;
    top: 89px;
    left: 699px;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .RETO-COMITE .text-wrapper-14 {
    font-weight: 700;
    color: #2f80ed;
    letter-spacing: 0.04px;
  }
  
  .RETO-COMITE .text-wrapper-15 {
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #2f80ed;
    letter-spacing: 0.04px;
  }
  
  .RETO-COMITE .text-wrapper-16 {
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ed2f2f;
    letter-spacing: 0.04px;
  }
  
  .RETO-COMITE .overlap-8 {
    position: absolute;
    width: 359px;
    height: 159px;
    top: 138px;
    left: 644px;
  }
  
  .RETO-COMITE .weather {
    position: absolute;
    width: 358px;
    height: 156px;
    top: 0;
    left: 0;
    background-color: var(--boxes);
    border-radius: 16.84px;
    transform: rotate(0.55deg);
    box-shadow: 0px 20.21px 40.42px -6.74px #274c7729;
  }
  
  .RETO-COMITE .more {
    position: absolute;
    width: 23px;
    height: 17px;
    top: 17px;
    left: 312px;
    transform: rotate(-0.55deg);
  }
  
  .RETO-COMITE .title {
    position: absolute;
    width: 120px;
    height: 40px;
    top: -1px;
    left: 23px;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--secondary);
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .RETO-COMITE .p {
    position: absolute;
    width: 319px;
    top: 54px;
    left: 23px;
    transform: rotate(0.55deg);
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .RETO-COMITE .EJE-QUE-AFECTA {
    position: absolute;
    top: 306px;
    left: 672px;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .RETO-COMITE .overlap-9 {
    position: absolute;
    width: 359px;
    height: 152px;
    top: 349px;
    left: 649px;
  }
  
  .RETO-COMITE .weather-2 {
    position: absolute;
    width: 358px;
    height: 149px;
    top: 0;
    left: 0;
    background-color: var(--boxes);
    border-radius: 16.84px;
    transform: rotate(0.55deg);
    box-shadow: 0px 20.21px 40.42px -6.74px #274c7729;
  }
  
  .RETO-COMITE .more-2 {
    position: absolute;
    width: 23px;
    height: 16px;
    top: 16px;
    left: 312px;
    transform: rotate(-0.55deg);
  }
  
  .RETO-COMITE .title-2 {
    position: absolute;
    width: 120px;
    height: 38px;
    top: -1px;
    left: 23px;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--secondary);
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .RETO-COMITE .text-wrapper-17 {
    position: absolute;
    width: 319px;
    top: 58px;
    left: 21px;
    transform: rotate(0.55deg);
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .RETO-COMITE .text-wrapper-18 {
    position: absolute;
    top: 492px;
    left: 40px;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-crypto);
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .RETO-COMITE .text-wrapper-19 {
    position: absolute;
    width: 260px;
    top: 528px;
    left: 318px;
    transform: rotate(0.47deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-crypto);
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .RETO-COMITE .text-wrapper-20 {
    position: absolute;
    top: 521px;
    left: 656px;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-crypto);
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .RETO-COMITE .frame-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    position: absolute;
    top: 542px;
    left: 40px;
    transform: rotate(-0.20deg);
  }
  
  .RETO-COMITE .input {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    opacity: 0.5;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: normal;
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .RETO-COMITE .text-wrapper-21 {
    position: absolute;
    width: 240px;
    top: 579px;
    left: 321px;
    transform: rotate(0.47deg);
    opacity: 0.5;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: normal;
  }
  
  .RETO-COMITE .overlap-10 {
    position: absolute;
    width: 351px;
    height: 337px;
    top: 565px;
    left: 656px;
    background-image: url(./img/rectangle-11.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .RETO-COMITE .frame-wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative;
    top: 248px;
    left: 20px;
    background-color: #ffffffcc;
    border-radius: 170px;
    overflow: hidden;
    transform: rotate(-0.20deg);
    box-shadow: var(--NATID);
    backdrop-filter: blur(20px) brightness(100%);
    -webkit-backdrop-filter: blur(20px) brightness(100%);
  }
  
  .RETO-COMITE .frame-8 {
    position: relative;
    width: 329px;
    height: 23px;
    margin-left: -19.50px;
    margin-right: -19.50px;
    border-radius: 30px;
  }
  
  .RETO-COMITE .text-wrapper-22 {
    position: absolute;
    top: -1px;
    left: 17px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: normal;
  }
  
  .RETO-COMITE .overlap-group-wrapper {
    position: absolute;
    width: 61px;
    height: 20px;
    top: 2px;
    left: 243px;
  }
  
  .RETO-COMITE .overlap-group-5 {
    position: relative;
    width: 59px;
    height: 20px;
    background-image: url(./img/rectangle-9.svg);
    background-size: 100% 100%;
  }
  
  .RETO-COMITE .text-wrapper-23 {
    position: absolute;
    top: 0;
    left: 15px;
    font-family: var(--internal-tool-nav-font-family);
    font-weight: var(--internal-tool-nav-font-weight);
    color: #000000;
    font-size: var(--internal-tool-nav-font-size);
    letter-spacing: var(--internal-tool-nav-letter-spacing);
    line-height: var(--internal-tool-nav-line-height);
    font-style: var(--internal-tool-nav-font-style);
  }
  
  .RETO-COMITE .text-wrapper-24 {
    position: absolute;
    width: 208px;
    top: 606px;
    left: 322px;
    transform: rotate(0.47deg);
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .RETO-COMITE .frame-9 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    position: absolute;
    top: 619px;
    left: 41px;
    transform: rotate(-0.20deg);
  }
  
  .RETO-COMITE .text-wrapper-25 {
    position: absolute;
    width: 214px;
    top: 653px;
    left: 319px;
    transform: rotate(0.47deg);
    opacity: 0.5;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: normal;
  }
  
  .RETO-COMITE .text-wrapper-26 {
    width: 82px;
    top: 683px;
    left: 320px;
    position: absolute;
    transform: rotate(0.47deg);
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .RETO-COMITE .text-wrapper-27 {
    position: absolute;
    top: 695px;
    left: 41px;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-crypto);
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .RETO-COMITE .overlap-11 {
    position: absolute;
    width: 231px;
    height: 57px;
    top: 730px;
    left: 316px;
  }
  
  .RETO-COMITE .text-wrapper-28 {
    position: absolute;
    width: 229px;
    top: 0;
    left: 1px;
    transform: rotate(0.47deg);
    opacity: 0.5;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: normal;
  }
  
  .RETO-COMITE .text-wrapper-29 {
    width: 72px;
    top: 25px;
    left: 0;
    position: absolute;
    transform: rotate(0.47deg);
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .RETO-COMITE .account-tier {
    position: absolute;
    width: 197px;
    height: 144px;
    top: 739px;
    left: 41px;
    transform: rotate(-0.20deg);
  }
  
  .RETO-COMITE .overlap-12 {
    position: relative;
    height: 144px;
  }
  
  .RETO-COMITE .line {
    position: absolute;
    width: 1px;
    height: 115px;
    top: 14px;
    left: 5px;
    transform: rotate(0.20deg);
    object-fit: cover;
  }
  
  .RETO-COMITE .frame-10 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .RETO-COMITE .frame-11 {
    display: inline-flex;
    align-items: center;
    gap: 17px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .RETO-COMITE .ellipse-5 {
    position: relative;
    width: 11px;
    height: 11px;
    background-color: var(--secondary-crypto);
    border-radius: 5.5px;
  }
  
  .RETO-COMITE .text-wrapper-30 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--internal-tool-subheading-font-family);
    font-weight: var(--internal-tool-subheading-font-weight);
    color: #000000;
    font-size: var(--internal-tool-subheading-font-size);
    letter-spacing: var(--internal-tool-subheading-letter-spacing);
    line-height: var(--internal-tool-subheading-line-height);
    font-style: var(--internal-tool-subheading-font-style);
  }
  
  .RETO-COMITE .group-2 {
    position: relative;
    width: 69px;
    height: 20px;
    margin-right: -2.00px;
  }
  
  .RETO-COMITE .overlap-group-6 {
    position: relative;
    width: 67px;
    height: 20px;
    background-image: url(./img/rectangle-9-2.svg);
    background-size: 100% 100%;
  }
  
  .RETO-COMITE .text-wrapper-31 {
    position: absolute;
    top: 0;
    left: 9px;
    font-family: var(--internal-tool-nav-font-family);
    font-weight: var(--internal-tool-nav-font-weight);
    color: #000000;
    font-size: var(--internal-tool-nav-font-size);
    letter-spacing: var(--internal-tool-nav-letter-spacing);
    line-height: var(--internal-tool-nav-line-height);
    font-style: var(--internal-tool-nav-font-style);
  }
  
  .RETO-COMITE .ellipse-6 {
    position: relative;
    width: 11px;
    height: 11px;
    background-color: #c4c4c4;
    border-radius: 5.5px;
  }
  
  .RETO-COMITE .text-wrapper-32 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    opacity: 0.5;
    font-family: var(--internal-tool-subheading-font-family);
    font-weight: var(--internal-tool-subheading-font-weight);
    color: #000000;
    font-size: var(--internal-tool-subheading-font-size);
    letter-spacing: var(--internal-tool-subheading-letter-spacing);
    line-height: var(--internal-tool-subheading-line-height);
    font-style: var(--internal-tool-subheading-font-style);
  }
  
  .RETO-COMITE .text-wrapper-33 {
    position: absolute;
    width: 240px;
    top: 807px;
    left: 316px;
    transform: rotate(0.47deg);
    opacity: 0.5;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: normal;
  }
  
  .RETO-COMITE .text-wrapper-34 {
    position: absolute;
    width: 65px;
    top: 837px;
    left: 317px;
    transform: rotate(0.47deg);
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  