.formulario-crear {
    background-color: #fafbff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .formulario-crear .div {
    background-color: #fafbff;
    overflow: hidden;
    width: 1440px;
    height: 1198px;
    position: relative;
  }
  
  .formulario-crear .overlap {
    position: absolute;
    width: 1133px;
    height: 1024px;
    top: 174px;
    left: 307px;
    background-image: url(./img/rectangle-32.svg);
    background-size: 100% 100%;
  }
  
  .formulario-crear .text-wrapper {
    position: absolute;
    width: 69px;
    top: 202px;
    left: 825px;
    -webkit-text-stroke: 1px #00ac4f;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: #1e76e8;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .formulario-crear .p {
    position: absolute;
    width: 319px;
    top: 112px;
    left: 727px;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .overlap-group {
    position: absolute;
    width: 177px;
    height: 154px;
    top: 71px;
    left: 276px;
  }
  
  .formulario-crear .weather {
    position: absolute;
    width: 166px;
    height: 152px;
    top: 0;
    left: 0;
    background-color: var(--boxes);
    border-radius: 16.84px;
    transform: rotate(0.54deg);
    box-shadow: 0px 20.21px 40.42px -6.74px #274c7729;
  }
  
  .formulario-crear .more {
    position: absolute;
    width: 11px;
    height: 17px;
    top: 17px;
    left: 145px;
    transform: rotate(-0.54deg);
  }
  
  .formulario-crear .text-wrapper-2 {
    position: absolute;
    width: 167px;
    top: 51px;
    left: 10px;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #2179ef;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: normal;
  }
  
  .formulario-crear .text-wrapper-3 {
    position: absolute;
    width: 167px;
    top: 90px;
    left: 10px;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #0f0f0f;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: normal;
  }
  
  .formulario-crear .weather-2 {
    width: 145px;
    height: 23px;
    top: 15px;
    left: 10px;
    transform: rotate(0.54deg);
    position: absolute;
    background-color: var(--boxes);
    border-radius: 16.84px;
    box-shadow: 0px 20.21px 40.42px -6.74px #274c7729;
  }
  
  .formulario-crear .img {
    position: absolute;
    width: 9px;
    height: 3px;
    top: 2px;
    left: 127px;
    transform: rotate(-0.54deg);
  }
  
  .formulario-crear .title {
    position: absolute;
    width: 49px;
    height: 18px;
    top: -14px;
    left: 9px;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--secondary);
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .title-2 {
    width: 50px;
    height: 15px;
    top: 13px;
    left: 18px;
    transform: rotate(0.54deg);
    white-space: nowrap;
    position: absolute;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--secondary);
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .more-2 {
    position: absolute;
    width: 23px;
    height: 17px;
    top: 13px;
    left: 135px;
  }
  
  .formulario-crear .component {
    position: absolute;
    width: 81px;
    height: 22px;
    top: 13px;
    left: 68px;
  }
  
  .formulario-crear .vector {
    position: absolute;
    width: 18px;
    height: 11px;
    top: 6px;
    left: 0;
  }
  
  .formulario-crear .text-wrapper-4 {
    position: absolute;
    top: -1px;
    left: 33px;
    transform: rotate(-0.19deg);
    font-family: var(--internal-tool-regular-font-family);
    font-weight: var(--internal-tool-regular-font-weight);
    color: #000000;
    font-size: var(--internal-tool-regular-font-size);
    letter-spacing: var(--internal-tool-regular-letter-spacing);
    line-height: var(--internal-tool-regular-line-height);
    font-style: var(--internal-tool-regular-font-style);
  }
  
  .formulario-crear .text-wrapper-5 {
    position: absolute;
    width: 106px;
    top: 6px;
    left: 929px;
    transform: rotate(-0.20deg);
    font-family: var(--internal-tool-regular-font-family);
    font-weight: var(--internal-tool-regular-font-weight);
    color: #000000;
    font-size: var(--internal-tool-regular-font-size);
    letter-spacing: var(--internal-tool-regular-letter-spacing);
    line-height: var(--internal-tool-regular-line-height);
    font-style: var(--internal-tool-regular-font-style);
  }
  
  .formulario-crear .vector-2 {
    position: absolute;
    width: 18px;
    height: 12px;
    top: 13px;
    left: 1048px;
  }
  
  .formulario-crear .text-wrapper-6 {
    position: absolute;
    width: 167px;
    top: 81px;
    left: 87px;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-crypto);
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .formulario-crear .text-wrapper-7 {
    position: absolute;
    width: 258px;
    top: 64px;
    left: 619px;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-crypto);
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .formulario-crear .overlap-2 {
    position: absolute;
    width: 944px;
    height: 127px;
    top: 263px;
    left: 76px;
    border-radius: 16.84px;
  }
  
  .formulario-crear .title-wrapper {
    width: 944px;
    height: 127px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--boxes);
    border-radius: 16.84px;
    box-shadow: 0px 20.21px 40.42px -6.74px #274c7729;
  }
  
  .formulario-crear .title-3 {
    width: 316px;
    height: 32px;
    top: -1px;
    left: 60px;
    position: absolute;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--secondary);
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .text-wrapper-8 {
    position: absolute;
    width: 805px;
    top: 47px;
    left: 37px;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .overlap-3 {
    position: absolute;
    width: 936px;
    height: 125px;
    top: 419px;
    left: 84px;
  }
  
  .formulario-crear .weather-3 {
    width: 936px;
    height: 108px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--boxes);
    border-radius: 16.84px;
    box-shadow: 0px 20.21px 40.42px -6.74px #274c7729;
  }
  
  .formulario-crear .more-3 {
    position: absolute;
    width: 60px;
    height: 12px;
    top: 12px;
    left: 817px;
  }
  
  .formulario-crear .title-4 {
    width: 313px;
    height: 27px;
    top: -1px;
    left: 60px;
    position: absolute;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--secondary);
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .text-wrapper-9 {
    position: absolute;
    width: 865px;
    top: 49px;
    left: 33px;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .overlap-4 {
    position: absolute;
    width: 194px;
    height: 108px;
    top: 643px;
    left: 756px;
    border-radius: 16.84px;
  }
  
  .formulario-crear .more-wrapper {
    width: 194px;
    height: 108px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--boxes);
    border-radius: 16.84px;
    box-shadow: 0px 20.21px 40.42px -6.74px #274c7729;
  }
  
  .formulario-crear .more-4 {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 12px;
    left: 170px;
  }
  
  .formulario-crear .text-wrapper-10 {
    position: absolute;
    width: 84px;
    top: 29px;
    left: 55px;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: #df0404;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .text-wrapper-11 {
    position: absolute;
    width: 364px;
    top: 612px;
    left: 676px;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .sugerencias-manejo {
    position: absolute;
    width: 364px;
    top: 768px;
    left: 671px;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: transparent;
    font-size: 15.2px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .span {
    color: #9197b3;
  }
  
  .formulario-crear .text-wrapper-12 {
    color: #000000;
  }
  
  .formulario-crear .text-wrapper-13 {
    position: absolute;
    width: 242px;
    top: 580px;
    left: 87px;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-crypto);
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .formulario-crear .text-wrapper-14 {
    position: absolute;
    width: 242px;
    top: 579px;
    left: 676px;
    transform: rotate(-0.20deg);
    opacity: 0.8;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-crypto);
    font-size: 20px;
    letter-spacing: 0.20px;
    line-height: normal;
  }
  
  .formulario-crear .image-title-wrapper {
    position: absolute;
    width: 351px;
    height: 329px;
    top: 628px;
    left: 237px;
    background-image: url(./img/rectangle-11.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .formulario-crear .image-title {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative;
    top: 236px;
    left: 23px;
    background-color: #ffffffcc;
    border-radius: 170px;
    overflow: hidden;
    transform: rotate(-0.20deg);
    box-shadow: var(--NATID);
    backdrop-filter: blur(20px) brightness(100%);
    -webkit-backdrop-filter: blur(20px) brightness(100%);
  }
  
  .formulario-crear .frame {
    position: relative;
    width: 329px;
    height: 23px;
    margin-left: -19.50px;
    margin-right: -19.50px;
    border-radius: 30px;
  }
  
  .formulario-crear .text-wrapper-15 {
    position: absolute;
    top: -1px;
    left: 17px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: normal;
  }
  
  .formulario-crear .group {
    position: absolute;
    width: 61px;
    height: 20px;
    top: 2px;
    left: 243px;
  }
  
  .formulario-crear .div-wrapper {
    position: relative;
    width: 59px;
    height: 20px;
    background-image: url(./img/rectangle-9.svg);
    background-size: 100% 100%;
  }
  
  .formulario-crear .text-wrapper-16 {
    position: absolute;
    top: 0;
    left: 15px;
    font-family: var(--internal-tool-nav-font-family);
    font-weight: var(--internal-tool-nav-font-weight);
    color: #000000;
    font-size: var(--internal-tool-nav-font-size);
    letter-spacing: var(--internal-tool-nav-letter-spacing);
    line-height: var(--internal-tool-nav-line-height);
    font-style: var(--internal-tool-nav-font-style);
  }
  
  .formulario-crear .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: absolute;
    top: 891px;
    left: 938px;
    background-color: #5f5cee;
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-brand-default);
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .formulario-crear .button-2 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--single-line-body-small-strong-font-family);
    font-weight: var(--single-line-body-small-strong-font-weight);
    color: var(--color-text-brand-on-brand);
    font-size: var(--single-line-body-small-strong-font-size);
    letter-spacing: var(--single-line-body-small-strong-letter-spacing);
    line-height: var(--single-line-body-small-strong-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-small-strong-font-style);
  }
  
  .formulario-crear .progress-bar {
    position: absolute;
    width: 402px;
    height: 21px;
    top: 177px;
    left: 660px;
    background-color: var(--system-colors-backgrounds-primary);
  }
  
  .formulario-crear .track {
    position: relative;
    width: 370px;
    height: 4px;
    top: 9px;
    left: 16px;
    background-color: var(--system-colors-fills-secondary);
  }
  
  .formulario-crear .filled {
    width: 117px;
    height: 4px;
    background-color: var(--system-colors-colors-blue);
    border-radius: 100px;
  }
  
  .formulario-crear .frame-2 {
    display: flex;
    width: 1061px;
    height: 47px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 63px;
    left: 345px;
  }
  
  .formulario-crear .text-wrapper-17 {
    position: relative;
    width: 502px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .frame-3 {
    display: flex;
    width: 480px;
    align-items: center;
    gap: 32px;
    position: relative;
    margin-top: -0.50px;
    margin-bottom: -0.50px;
  }
  
  .formulario-crear .overlap-group-wrapper {
    position: relative;
    width: 346px;
    height: 40px;
  }
  
  .formulario-crear .overlap-group-2 {
    position: relative;
    width: 344px;
    height: 40px;
    background-color: #fdfdfd;
    border-radius: 8px;
  }
  
  .formulario-crear .text-wrapper-18 {
    position: absolute;
    top: 12px;
    left: 46px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #a39f9f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .formulario-crear .search-normal {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 13px;
  }
  
  .formulario-crear .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .formulario-crear .ellipse {
    position: relative;
    width: 48px;
    height: 48px;
  }
  
  .formulario-crear .imagix {
    top: -3829px;
    left: -1088px;
    position: absolute;
    width: 226px;
    height: 100px;
    object-fit: cover;
  }
  
  .formulario-crear .barra-de-navegacin {
    position: absolute;
    width: 306px;
    height: 1198px;
    top: 0;
    left: -1px;
    background-color: #ffffff;
    box-shadow: 0px 10px 60px #e1ecf880;
  }
  
  .formulario-crear .list-menu-wrapper {
    position: absolute;
    width: 250px;
    height: 46px;
    top: 194px;
    left: 28px;
    background-color: #5932ea;
    border-radius: 8px;
  }
  
  .formulario-crear .list-menu {
    position: relative;
    width: 233px;
    height: 24px;
    top: 9px;
    left: 11px;
  }
  
  .formulario-crear .img-3 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
  .formulario-crear .text-wrapper-19 {
    position: absolute;
    top: 2px;
    left: 38px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .formulario-crear .chevron-right {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 215px;
  }
  
  .formulario-crear .list-menu-2 {
    width: 231px;
    top: 141px;
    left: 38px;
    position: absolute;
    height: 24px;
  }
  
  .formulario-crear .text-wrapper-20 {
    position: absolute;
    top: 1px;
    left: 38px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #9197b3;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .formulario-crear .chevron-right-2 {
    top: 2px;
    left: 213px;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  
  .formulario-crear .list-menu-3 {
    width: 233px;
    top: 267px;
    left: 39px;
    position: absolute;
    height: 24px;
  }
  
  .formulario-crear .text-wrapper-21 {
    position: absolute;
    top: 2px;
    left: 38px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #9197b3;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .formulario-crear .list-menu-4 {
    width: 233px;
    top: 330px;
    left: 41px;
    position: absolute;
    height: 24px;
  }
  
  .formulario-crear .list-menu-5 {
    width: 236px;
    top: 397px;
    left: 42px;
    position: absolute;
    height: 24px;
  }
  
  .formulario-crear .text-wrapper-22 {
    position: absolute;
    top: 3px;
    left: 41px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #9197b3;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .formulario-crear .chevron-right-3 {
    top: 5px;
    left: 218px;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  
  .formulario-crear .imagix-2 {
    top: 11px;
    left: 32px;
    position: absolute;
    width: 226px;
    height: 100px;
    object-fit: cover;
  }
  
  .formulario-crear .overlap-5 {
    position: absolute;
    width: 250px;
    height: 80px;
    top: 925px;
    left: 28px;
    background-image: url(./img/union.svg);
    background-size: 100% 100%;
  }
  
  .formulario-crear .label {
    position: absolute;
    top: 28px;
    left: 101px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--label-light-secondary);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .formulario-crear .label-2 {
    position: absolute;
    top: 31px;
    left: 206px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--light-indigo);
    font-size: 13px;
    text-align: right;
    letter-spacing: 0;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .formulario-crear .element {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 24px;
    object-fit: cover;
  }
  
  .formulario-crear .frame-4 {
    display: flex;
    width: 275px;
    align-items: center;
    gap: 10px;
    padding: 10px 165px 10px 10px;
    position: absolute;
    top: 1130px;
    left: 24px;
    border-radius: 8px;
  }
  
  .formulario-crear .text-wrapper-23 {
    position: relative;
    width: fit-content;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #84828a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  