:root {
    --label-light-secondary: rgba(60, 60, 67, 0.6);
    --light-indigo: rgba(116, 89, 217, 1);
    --grey-50: rgba(208, 209, 210, 1);
    --light-black: rgba(17, 38, 60, 1);
    --grey-40: rgba(162, 163, 165, 1);
    --light-white-t4: rgba(66, 47, 138, 0.87);
    --greywhite: rgba(255, 255, 255, 1);
    --separator-light-default: rgba(236, 233, 241, 1);
    --body-input-14px-r-font-family: "Poppins", Helvetica;
    --body-input-14px-r-font-weight: 400;
    --body-input-14px-r-font-size: 14px;
    --body-input-14px-r-letter-spacing: 0px;
    --body-input-14px-r-line-height: 22px;
    --body-input-14px-r-font-style: normal;
    --body-label-8px-r-font-family: "Poppins", Helvetica;
    --body-label-8px-r-font-weight: 400;
    --body-label-8px-r-font-size: 8px;
    --body-label-8px-r-letter-spacing: 0px;
    --body-label-8px-r-line-height: 12px;
    --body-label-8px-r-font-style: normal;
    --h3-22px-SB-font-family: "Poppins", Helvetica;
    --h3-22px-SB-font-weight: 700;
    --h3-22px-SB-font-size: 22px;
    --h3-22px-SB-letter-spacing: 0px;
    --h3-22px-SB-line-height: 28px;
    --h3-22px-SB-font-style: normal;
    --body-small-12px-r-font-family: "Poppins", Helvetica;
    --body-small-12px-r-font-weight: 400;
    --body-small-12px-r-font-size: 12px;
    --body-small-12px-r-letter-spacing: 0px;
    --body-small-12px-r-line-height: 20px;
    --body-small-12px-r-font-style: normal;
  }
  