.dashboard-principal {
    background-color: #fafbff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dashboard-principal .overlap-wrapper {
    background-color: #fafbff;
    width: 1440px;
    height: 1822px;
  }
  
  .dashboard-principal .overlap {
    position: relative;
    height: 1822px;
  }
  
  .dashboard-principal .overlap-group {
    position: absolute;
    width: 1440px;
    height: 1822px;
    top: 0;
    left: 0;
  }
  
  .dashboard-principal .chevron-right {
    top: 142px;
    left: 252px;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  
  .dashboard-principal .rectangle {
    position: absolute;
    width: 1149px;
    height: 655px;
    top: 655px;
    left: 291px;
  }
  
  .dashboard-principal .img {
    position: absolute;
    width: 560px;
    height: 352px;
    top: 1216px;
    left: 880px;
  }
  
  .dashboard-principal .cuadrado {
    position: absolute;
    width: 265px;
    height: 217px;
    top: 1304px;
    left: 892px;
  }
  
  .dashboard-principal .cuadrado-2 {
    width: 265px;
    top: 1307px;
    left: 1043px;
    position: absolute;
    height: 217px;
  }
  
  .dashboard-principal .cuadrado-3 {
    width: 248px;
    top: 1304px;
    left: 1192px;
    position: absolute;
    height: 217px;
  }
  
  .dashboard-principal .rectangle-2 {
    position: absolute;
    width: 560px;
    height: 344px;
    top: 1478px;
    left: 880px;
  }
  
  .dashboard-principal .text-wrapper {
    position: absolute;
    height: 59px;
    top: 722px;
    left: 683px;
    transform: rotate(-0.21deg);
    font-family: "Work Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--iris-100);
    font-size: 50.2px;
    letter-spacing: -1.00px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard-principal .group {
    position: absolute;
    width: 227px;
    height: 79px;
    top: 1640px;
    left: 1060px;
  }
  
  .dashboard-principal .div-wrapper {
    position: relative;
    width: 225px;
    height: 79px;
    background-color: #5856d6;
    border-radius: 30px;
  }
  
  .dashboard-principal .div {
    position: absolute;
    top: 28px;
    left: 16px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 26px;
    letter-spacing: 0.50px;
    line-height: 23px;
    white-space: nowrap;
  }
  
  .dashboard-principal .deseas-revisar-tus {
    position: absolute;
    width: 310px;
    top: 1282px;
    left: 1003px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 28px;
    text-align: center;
    line-height: 23px;
  }
  
  .dashboard-principal .span {
    letter-spacing: 0.14px;
  }
  
  .dashboard-principal .text-wrapper-2 {
    letter-spacing: 0.28px;
  }
  
  .dashboard-principal .text-wrapper-3 {
    position: absolute;
    top: 1576px;
    left: 967px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0.50px;
    line-height: 23px;
    white-space: nowrap;
  }
  
  .dashboard-principal .barra-de-navegacin {
    position: absolute;
    width: 306px;
    height: 1198px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 10px 60px #e1ecf880;
  }
  
  .dashboard-principal .list-menu-wrapper {
    position: absolute;
    width: 250px;
    height: 46px;
    top: 130px;
    left: 28px;
    background-color: #5932ea;
    border-radius: 8px;
  }
  
  .dashboard-principal .list-menu {
    position: relative;
    width: 233px;
    height: 24px;
    top: 11px;
    left: 11px;
  }
  
  .dashboard-principal .img-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
  .dashboard-principal .text-wrapper-4 {
    position: absolute;
    top: 1px;
    left: 38px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .dashboard-principal .chevron-right-2 {
    top: 2px;
    left: 213px;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  
  .dashboard-principal .list-menu-2 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 203px;
    left: 39px;
  }
  
  .dashboard-principal .text-wrapper-5 {
    position: absolute;
    top: 2px;
    left: 38px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #9197b3;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .dashboard-principal .chevron-right-3 {
    top: 4px;
    left: 215px;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  
  .dashboard-principal .list-menu-3 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 267px;
    left: 39px;
  }
  
  
  .dashboard-principal .list-menu-4 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 331px;
    left: 39px;
  }
  
  .dashboard-principal .list-menu-6 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 395px;
    left: 39px;
  }
  
  .dashboard-principal .text-wrapper-6 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #9197b3;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .dashboard-principal .chevron-right-4 {
    top: 2px;
    left: 177px;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  
  .dashboard-principal .list-menu-7 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 452px;
    left: 39px;
  }
  
  .dashboard-principal .list-menu-8 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 511px;
    left: 39px;
  }
  
  .dashboard-principal .list-menu-9 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 566px;
    left: 39px;
  }
  
  .dashboard-principal .text-wrapper-7 {
    position: absolute;
    top: 3px;
    left: 41px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #9197b3;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: normal;
  }
  
  .dashboard-principal .chevron-right-5 {
    top: 5px;
    left: 218px;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  
  .dashboard-principal .list-menu-10 {
    position: absolute;
    width: 233px;
    height: 24px;
    top: 626px;
    left: 39px;
  }
  
  .dashboard-principal .element-icon {
    top: 511px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 39px;
  }
  
  .dashboard-principal .overlap-group-2 {
    position: relative;
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
  }
  
  .dashboard-principal .path {
    position: absolute;
    width: 18px;
    height: 9px;
    top: 0;
    left: 0;
  }
  
  .dashboard-principal .path-2 {
    top: 7px;
    position: absolute;
    width: 18px;
    height: 7px;
    left: 0;
  }
  
  .dashboard-principal .path-3 {
    top: 11px;
    position: absolute;
    width: 18px;
    height: 7px;
    left: 0;
  }
  
  .dashboard-principal .imagix {
    position: absolute;
    width: 226px;
    height: 100px;
    top: 11px;
    left: 32px;
    object-fit: cover;
  }
  
  .dashboard-principal .element-icon-stock {
    top: 394px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 39px;
  }
  
  .dashboard-principal .overlap-3 {
    position: absolute;
    width: 250px;
    height: 80px;
    top: 925px;
    left: 28px;
    background-image: url(./img/union.svg);
    background-size: 100% 100%;
  }
  
  .dashboard-principal .label {
    position: absolute;
    top: 28px;
    left: 101px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--label-light-secondary);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .dashboard-principal .label-2 {
    position: absolute;
    top: 30px;
    left: 195px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--light-indigo);
    font-size: 13px;
    text-align: right;
    line-height: 18px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .dashboard-principal .element {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 24px;
    object-fit: cover;
  }
  
  .dashboard-principal .frame {
    display: flex;
    width: 275px;
    align-items: center;
    gap: 10px;
    padding: 10px 165px 10px 10px;
    position: absolute;
    top: 1130px;
    left: 24px;
    border-radius: 8px;
  }
  
  .dashboard-principal .img-3 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .dashboard-principal .text-wrapper-8 {
    position: relative;
    width: fit-content;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #84828a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-principal .frame-2 {
    position: absolute;
    width: 1085px;
    height: 528px;
    top: 749px;
    left: 331px;
  }
  
  .dashboard-principal .group-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 623px;
    left: 41px;
  }
  
  .dashboard-principal .overlap-group-3 {
    position: absolute;
    width: 16px;
    height: 8px;
    top: 4px;
    left: 4px;
  }
  
  .dashboard-principal .ellipse {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    left: 4px;
    border-radius: 4px;
    border: 2px solid;
    border-color: #9197b3;
  }
  
  .dashboard-principal .ellipse-2 {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 2px;
    left: 10px;
  }
  
  .dashboard-principal .ellipse-3 {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 2px;
    left: 0;
  }
  
  .dashboard-principal .overlap-4 {
    position: absolute;
    width: 20px;
    height: 7px;
    top: 13px;
    left: 2px;
  }
  
  .dashboard-principal .subtract {
    position: absolute;
    width: 9px;
    height: 6px;
    top: 0;
    left: 11px;
  }
  
  .dashboard-principal .subtract-2 {
    position: absolute;
    width: 9px;
    height: 6px;
    top: 0;
    left: 0;
  }
  
  .dashboard-principal .rectangle-3 {
    position: absolute;
    width: 12px;
    height: 7px;
    top: 0;
    left: 4px;
  }
  
  .dashboard-principal .rectangle-4 {
    position: absolute;
    width: 680px;
    height: 606px;
    top: 1216px;
    left: 291px;
  }
  
  .dashboard-principal .overlap-group-wrapper {
    position: absolute;
    width: 510px;
    height: 64px;
    top: 1665px;
    left: 377px;
  }

  .dashboard-principal .overlap-5 {
    position: relative;
    width: 508px;
    height: 64px;
    background-color: #ebebeb;
    border-radius: 30px;
  }
  
  .dashboard-principal .ellipse-4 {
    position: absolute;
    width: 45px;
    height: 44px;
    top: 10px;
    left: 15px;
    background-color: #d9d9d9;
    border-radius: 22.5px / 22px;
  }
  
  .dashboard-principal .text-wrapper-9 {
    position: absolute;
    top: 21px;
    left: 79px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0.50px;
    line-height: 23px;
    white-space: nowrap;
  }
  
  .dashboard-principal .group-2 {
    position: absolute;
    width: 510px;
    height: 64px;
    top: 1588px;
    left: 377px;
  }
  
  .dashboard-principal .ellipse-5 {
    top: 8px;
    left: 17px;
    position: absolute;
    width: 45px;
    height: 44px;
    background-color: #d9d9d9;
    border-radius: 22.5px / 22px;
  }
  
  .dashboard-principal .text-wrapper-10 {
    position: absolute;
    top: 19px;
    left: 79px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0.50px;
    line-height: 23px;
    white-space: nowrap;
  }
  
  .dashboard-principal .group-3 {
    position: absolute;
    width: 510px;
    height: 64px;
    top: 1511px;
    left: 377px;
  }
  
  .dashboard-principal .text-wrapper-11 {
    position: absolute;
    top: 20px;
    left: 79px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0.50px;
    line-height: 23px;
    white-space: nowrap;
  }
  
  .dashboard-principal .ellipse-6 {
    top: 10px;
    left: 17px;
    position: absolute;
    width: 45px;
    height: 44px;
    background-color: #d9d9d9;
    border-radius: 22.5px / 22px;
  }
  
  .dashboard-principal .group-4 {
    position: absolute;
    width: 510px;
    height: 64px;
    top: 1434px;
    left: 379px;
  }
  
  .dashboard-principal .text-wrapper-12 {
    position: absolute;
    height: 59px;
    top: 1283px;
    left: 458px;
    transform: rotate(-0.21deg);
    font-family: "Work Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--iris-100);
    font-size: 50.2px;
    letter-spacing: -1.00px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard-principal .group-5 {
    position: absolute;
    width: 508px;
    height: 64px;
    top: 1357px;
    left: 379px;
    background-color: #ebebeb;
    border-radius: 30px;
  }
  
  .dashboard-principal .text-wrapper-13 {
    position: absolute;
    top: 1377px;
    left: 458px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0.50px;
    line-height: 23px;
    white-space: nowrap;
  }
  
  .dashboard-principal .ellipse-7 {
    top: 1367px;
    left: 394px;
    position: absolute;
    width: 45px;
    height: 44px;
    background-color: #d9d9d9;
    border-radius: 22.5px / 22px;
  }
  
  .dashboard-principal .frame-3 {
    position: absolute;
    width: 463px;
    height: 279px;
    top: 409px;
    left: 422px;
  }
  
  .dashboard-principal .frame-4 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .dashboard-principal .text-wrapper-14 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--light-black);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .dashboard-principal .feather-icon-alert {
    position: relative;
    width: 18px;
    height: 18px;
  }
  
  .dashboard-principal .frame-5 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50px;
    left: 0;
    background-image: url(./img/frame-1322-1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .dashboard-principal .frame-6 {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 50px;
    left: 240px;
  }
  
  .dashboard-principal .rectangle-wrapper {
    position: relative;
    width: 30px;
    height: 22px;
  }
  
  .dashboard-principal .rectangle-5 {
    position: relative;
    height: 4px;
    top: 9px;
    background-color: var(--light-indigo);
    border-radius: 100px;
  }
  
  .dashboard-principal .frame-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .dashboard-principal .label-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-input-14px-r-font-family);
    font-weight: var(--body-input-14px-r-font-weight);
    color: var(--grey-50);
    font-size: var(--body-input-14px-r-font-size);
    letter-spacing: var(--body-input-14px-r-letter-spacing);
    line-height: var(--body-input-14px-r-line-height);
    white-space: nowrap;
    font-style: var(--body-input-14px-r-font-style);
  }
  
  .dashboard-principal .label-4 {
    position: relative;
    width: fit-content;
    font-family: var(--body-input-14px-SB-font-family);
    font-weight: var(--body-input-14px-SB-font-weight);
    color: var(--light-black);
    font-size: var(--body-input-14px-SB-font-size);
    line-height: var(--body-input-14px-SB-line-height);
    letter-spacing: var(--body-input-14px-SB-letter-spacing);
    white-space: nowrap;
    font-style: var(--body-input-14px-SB-font-style);
  }
  
  .dashboard-principal .frame-8 {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 126px;
    left: 240px;
  }
  
  .dashboard-principal .rectangle-6 {
    position: relative;
    height: 4px;
    top: 9px;
    background-color: #7459d980;
    border-radius: 100px;
  }
  
  .dashboard-principal .frame-9 {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 202px;
    left: 240px;
  }
  
  .dashboard-principal .frame-10 {
    display: flex;
    width: 1061px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 35px;
    left: 330px;
  }
  
  .dashboard-principal .hola-erick-promotor {
    position: relative;
    width: 502px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: transparent;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-principal .text-wrapper-15 {
    color: #000000;
  }
  
  .dashboard-principal .text-wrapper-16 {
    color: #fe0404;
  }
  
  .dashboard-principal .frame-11 {
    display: flex;
    width: 480px;
    align-items: center;
    gap: 32px;
    position: relative;
  }
  
  .dashboard-principal .group-6 {
    position: relative;
    width: 346px;
    height: 40px;
  }
  
  .dashboard-principal .overlap-group-4 {
    position: relative;
    width: 344px;
    height: 40px;
    background-color: #fdfdfd;
    border-radius: 8px;
  }
  
  .dashboard-principal .text-wrapper-17 {
    position: absolute;
    top: 12px;
    left: 46px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #a39f9f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-principal .search-normal {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 13px;
  }
  
  .dashboard-principal .ellipse-8 {
    position: relative;
    width: 48px;
    height: 48px;
  }
  
  .dashboard-principal .electricity {
    position: absolute;
    width: 390px;
    height: 188px;
    top: 449px;
    left: 963px;
    background-color: var(--boxes);
    border-radius: 16.84px;
    box-shadow: 0px 20.21px 40.42px -6.74px #274c7729;
  }
  
  .dashboard-principal .stats {
    position: absolute;
    width: 288px;
    height: 40px;
    top: 123px;
    left: 52px;
  }
  
  .dashboard-principal .daily-weekly {
    position: absolute;
    width: 344px;
    height: 30px;
    top: 62px;
    left: 24px;
  }
  
  .dashboard-principal .overlap-group-5 {
    position: relative;
    width: 340px;
    height: 30px;
    border-radius: 7.58px;
  }
  
  .dashboard-principal .bg {
    position: absolute;
    width: 340px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: var(--primary);
    border-radius: 7.58px;
    opacity: 0.5;
  }
  
  .dashboard-principal .current {
    position: absolute;
    width: 170px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: #7459d9;
    border-radius: 7.58px;
    opacity: 0.5;
  }
  
  .dashboard-principal .weekly {
    position: absolute;
    height: 14px;
    top: 7px;
    left: 216px;
    font-family: "Lato-Bold", Helvetica;
    font-weight: 700;
    color: var(--half-secondary);
    font-size: 11.8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard-principal .daily {
    position: absolute;
    height: 14px;
    top: 7px;
    left: 53px;
    font-family: "Lato-Bold", Helvetica;
    font-weight: 700;
    color: var(--half-secondary);
    font-size: 11.8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard-principal .more {
    position: absolute;
    width: 25px;
    height: 20px;
    top: 20px;
    left: 339px;
  }
  
  .dashboard-principal .electricity-2 {
    position: absolute;
    width: 130px;
    height: 48px;
    top: -1px;
    left: 24px;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--secondary);
    font-size: 15.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-principal .earning {
    position: absolute;
    width: 1065px;
    height: 234px;
    top: 137px;
    left: 341px;
  }
  
  .dashboard-principal .overlap-6 {
    position: relative;
    width: 1159px;
    height: 354px;
    top: -50px;
    left: -60px;
  }
  
  .dashboard-principal .rectangle-7 {
    position: absolute;
    width: 1149px;
    height: 220px;
    top: 0;
    left: 10px;
  }
  
  .dashboard-principal .rectangle-8 {
    position: absolute;
    width: 1159px;
    height: 220px;
    top: 134px;
    left: 0;
  }
  
  .dashboard-principal .group-7 {
    position: absolute;
    width: 373px;
    height: 41px;
    top: 214px;
    left: 167px;
  }
  
  .dashboard-principal .overlap-group-6 {
    position: relative;
    width: 371px;
    height: 41px;
    background-color: #f9fbff;
    border-radius: 10px;
  }
  
  .dashboard-principal .text-wrapper-18 {
    position: absolute;
    width: 201px;
    top: 8px;
    left: 100px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #292d32;
    font-size: 20px;
    letter-spacing: -0.20px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard-principal .p {
    position: absolute;
    width: 521px;
    height: 78xp;
    top: 35px;
    left: 340px;
    font-family: "Port Lligat Slab";
    font-weight: 400;
    color: #000000a8;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-principal .group-8 {
    position: absolute;
    width: 373px;
    height: 41px;
    top: 214px;
    left: 707px;
  }
  
  .dashboard-principal .overlap-7 {
    position: relative;
    width: 265px;
    height: 41px;
    background-color: #f9fbff;
    border-radius: 10px;
  }
  
  .dashboard-principal .text-wrapper-19 {
    position: absolute;
    width: 182px;
    top: 8px;
    left: 65px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #292d32;
    font-size: 20px;
    letter-spacing: -0.20px;
    line-height: normal;
    white-space: nowrap;
  }
  